.comment-wrapper{
    margin-top: 30px;
    border-bottom: 1px solid gray;
}
.comment-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.comment-user img{
    width: 15%;
    border-radius: 50%;
}
.comment-body{
    width: 60%;
    margin: auto;
}